h1 {
    position: absolute;
    width: 1440px;
    height: 42px;
    left: calc(50% - 1440px/2);
    top: 94px;

    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 55px;
    text-align: center;

    color: #00AEEF;
}

h2 {
    position: absolute;
    width: 1440px;
    height: 27px;
    left: calc(50% - 1440px/2);
    top: 175px;

    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    text-align: center;

    color: #EC008C;
}

#rectangle{
    position: absolute;
    width: 211px;
    height: 5px;
    left: calc(50% - 211px/2);
    top: 264px;
    
    background: #F1F1F1;
}

h3 {
    position: absolute;
    width: 1440px;
    height: 41px;
    left: calc(50% - 1440px/2);
    top: 284px;

    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 41px;
    text-align: center;

    color: #595959;
}

.frame1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    position: absolute;
    width: 761px;
    height: 188px;
    left: calc(50% - 761px/2 + 2.5px);
    top: 370px;
}

.frame2 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    position: absolute;
    width: 761px;
    height: 188px;
    left: calc(50% - 761px/2 + 2.5px);
    top: 540px;
}

.frame3 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    position: absolute;
    width: 761px;
    height: 188px;
    left: calc(50% - 761px/2 + 2.5px);
    top: 710px;
}

#rectangle2{
    position: absolute;
    width: 211px;
    height: 5px;
    left: calc(50% - 211px/2 - 0.5px);
    top: 980px;

    background: #F1F1F1;
}

h4 {
    position: absolute;
    width: 1440px;
    height: 27px;
    left: calc(50% - 1440px/2);
    top: 990px;
    
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 41px;
    text-align: center;
    
    color: #595959;
}

.frame4 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    position: absolute;
    width: 761px;
    height: 167px;
    left: calc(50% - 742px/2 + 1px);
    top: 1096px;
}

#rectangle3{
    position: absolute;
    height: 102px;
    left: 0%;
    right: 0%;
    top: 1387px;
    
    background: #3E3E3E;
}

footer.footer {
    position: absolute;
    width: 1440px;
    left: calc(50% - 1440px/2);
    top: 1410px;
    height: 75px;
    
    font-family: Helvetica;
    font-style: normal;
    font-weight: regular;
    font-size: 12px;
    line-height: 41px;
    text-align: center;

}

p.copyright {
    color: #fff;
    line-height: 40px;
    font-size: 0.7em;
}