.Previous-Page {
    position: absolute;
    width: 106px;
    height: 15px;
    left: calc(50% - 106px/2 - 292.5px);
    top: 58px;
    
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    
    color: #adadad;    
}

.Home-Button {
    position: absolute;
    width: 77px;
    height: 77px;
    left: calc(50% - 77px/2);
    top: 35px;
    
    background: url(HomeButton.png);
}

.Next-Page {
    position: absolute;
    width: 79px;
    height: 15px;
    left: calc(50% - 79px/2 + 345px);
    top: 58px;

    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;

    color: #adadad;
}

.WeekImage {
    position: absolute;
    width: 268px;
    height: 268px;
    left: calc(50% - 268px/2);
    top: 166px;    
    
    background: url(Week1.png);
}

h1 {
    position: absolute;
    width: 1440px;
    height: 42px;
    left: calc(50% - 1440px/2);
    top: 390px;

    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 55px;
    text-align: center;

    color: #00AEEF;
}

h2 {
    position: absolute;
    width: 1440px;
    height: 27px;
    left: calc(50% - 1440px/2);
    top: 465px;

    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    text-align: center;

    color: #EC008C;
}

#rectangle1{
    position: absolute;
    width: 211px;
    height: 5px;
    left: calc(50% - 211px/2 - 0.5px);
    top: 555px;

    background: #F1F1F1;
}

p1 {
    position: absolute;
    width: 691px;
    height: 56px;
    left: calc(50% - 691px/2 - 0.5px);
    top: 605px;
    
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    
    color: #595959;
}

p2 {
    position: absolute;
    width: 691px;
    height: 237px;
    left: calc(50% - 691px/2 - 0.5px);
    top: 670px;
    
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    
    color: #595959;
}

#rectangle2{
    position: absolute;
    width: 211px;
    height: 5px;
    left: calc(50% - 211px/2 - 0.5px);
    top: 850px;

    background: #F1F1F1;
}

p3 {
    position: absolute;
    width: 691px;
    height: 27px;
    left: calc(50% - 691px/2 - 0.5px);
    top: 900px;

    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;

    color: #595959;
}

p4 {
    position: absolute;
    width: 691px;
    height: 41px;
    left: calc(50% - 691px/2 - 0.5px);
    top: 940px;
    
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    
    color: #595959;
}

.Previous-Page2 {
    position: absolute;
    width: 106px;
    height: 15px;
    left: calc(50% - 106px/2 - 292.5px);
    top: 1100px;
    
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    
    color: #adadad;    
}

.Next-Page2 {
    position: absolute;
    width: 79px;
    height: 15px;
    left: calc(50% - 79px/2 + 345px);
    top: 1100px;

    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;

    color: #adadad;
}

#rectangle3{
    position: absolute;
    height: 102px;
    left: 0%;
    right: 0%;
    top: 1210px;
    
    background: #3E3E3E;
}

footer.footer {
    position: absolute;
    width: 1440px;
    left: calc(50% - 1440px/2);
    top: 1235px;
    height: 75px;
    
    font-family: Helvetica;
    font-style: normal;
    font-weight: regular;
    font-size: 12px;
    line-height: 41px;
    text-align: center;
}

p.copyright {
    color: #fff;
    line-height: 40px;
    font-size: 0.7em;
}